ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.img-stretch {
    width: 100%;
    height: auto;
}

.text-common {
    color: #ff6a00;
    font-size: 30px;
}

.text-common-md {
    font-size: 20px;
}

.text-common-sm {
    font-size: 15px;
}

.color-common {
    color: #ff6a00;
}

.b-color-common {
    background: #ff6a00;
}

.bg-common {
    background: #ff6a00;
    font-size: 15px !important;
}

.btn-common {
    padding: 8px 20px !important;
    font-size: 18px;
    color: #1d2124;
    transition: background-color 0.3s ease;
}

.btn-common:hover {
    background: #ff6a00;
    color: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px #c8cbcf;
    -moz-box-shadow: 1px 1px 5px 1px #c8cbcf;
    box-shadow: 1px 1px 5px 1px #c8cbcf;
}

.border-common-lg {
    border: 2px solid #ff6a00;
}

.border-common {
    border: 1px solid #ff6a00;
}

.custom-carousel {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.custom-carousel .custom-indicator li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background: #ccc;
    border-radius: 50%;
}

.custom-carousel .custom-indicator li.active {
    border: 2px solid #ff6a00;
}

.custom-carousel .custom-control-slider {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 55px;
    background: #ccc;
    transition: all 0.3s ease;
}

.custom-carousel .carousel-control-prev {
    left: -30px;
}

.custom-carousel .carousel-control-next {
    right: -30px;
}

.custom-carousel:hover .carousel-control-prev {
    left: 0;
}

.custom-carousel:hover .carousel-control-next {
    right: 0;
}
.custom-carousel .carousel-item img{
    height: 350px;
    width: 100%;
}

.title-product {
    font-weight: bold;
    color: #1d2124;
}

input[type='number'] {
    width: 80px;
}

.custom-checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.custom-checkbox:hover input ~.checkbox-box {
    background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkbox-box {
    border-color: #ff6a00;
    background-color: #ff6a00;
}

.checkbox-box:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkbox-box:after {
    display: block;
}

.custom-checkbox .checkbox-box:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
