body {
    font-size: 14px !important;
}

h4.font-size-md {
    font-size: 16px !important;
}

.font-size-md {
    font-size: 14px !important;
}

.font-size-sm {
    font-size: 12px !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.img-stretch {
    width: 100%;
    height: auto;
}

.text-common {
    color: #ff6a00;
    font-size: 30px;
}

.text-common-md {
    font-size: 20px;
}

.text-common-sm {
    font-size: 15px;
}

.color-common {
    color: #ff6a00;
}

.b-color-common {
    background: #ff6a00;
}

.bg-common {
    background: #ff6a00;
    font-size: 15px !important;
}

.btn-common {
    padding: 8px 20px !important;
    font-size: 18px;
    color: #1d2124;
    transition: background-color 0.3s ease;
}

.btn-common:hover {
    background: #ff6a00;
    color: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px #c8cbcf;
    -moz-box-shadow: 1px 1px 5px 1px #c8cbcf;
    box-shadow: 1px 1px 5px 1px #c8cbcf;
}

.border-common-lg {
    border: 2px solid #ff6a00;
}

.border-common {
    border: 1px solid #ff6a00;
}

.custom-carousel {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.custom-carousel .custom-indicator li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background: #ccc;
    border-radius: 50%;
}

.custom-carousel .custom-indicator li.active {
    border: 2px solid #ff6a00;
}

.custom-carousel .custom-control-slider {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 55px;
    background: #ccc;
    transition: all 0.3s ease;
}

.custom-carousel .carousel-control-prev {
    left: -30px;
}

.custom-carousel .carousel-control-next {
    right: -30px;
}

.custom-carousel:hover .carousel-control-prev {
    left: 0;
}

.custom-carousel:hover .carousel-control-next {
    right: 0;
}

.custom-carousel .carousel-item img {
    height: 350px;
    width: 100%;
}

.title-product {
    font-weight: bold;
    color: #1d2124;
}

input[type='number'] {
    width: 80px;
}

.custom-checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.custom-checkbox:hover input ~ .checkbox-box {
    background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkbox-box {
    border-color: #ff6a00;
    background-color: #ff6a00;
}

.checkbox-box:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkbox-box:after {
    display: block;
}

.custom-checkbox .checkbox-box:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.img-upload {
    width: 150px;
    height: 200px;
    height: auto;
}

.input-number-long {
    text-align: right;
    min-width: 100px !important;
}

.w-20 {
    width: 20% !important;
}

.summary-product {
    height: 20px;
}

.product-img-list {
    width: 100%;
    height: 250px;
}

.detail-product-img {
    min-width: 21em !important;
    max-height: 30em !important;
}

.notice-common {
    background-color: rgba(0,0,0,.9);
    box-shadow: 1px 1px 5px 1px #ccc;
    animation: disappear 5s;
    opacity: 0;
    display: none;
    min-width: 224px;
    position: fixed;
    top: 45%;
    left: 40%;
    right: 40%;
    padding: 8px;
}

.notice-common i {
    padding: 5px;
    border-radius: 50%;
    background: #fff;
}

.notice-common span {
    white-space: nowrap;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.badge-common {
    box-shadow: 1px 1px 5px 1px #ccc;
    padding: 4px;
    background-color: #fff;
    color: #ff6a00;
    position: absolute;
    top: -5px;
    right: -2px;
    z-index: -1
}

.margin-dialog {
    margin: 12.75rem auto !important;
}

.font-super-sm {
    font-size: 13px !important;
}

.font-size-lg {
    font-size: 16px !important;
}
