.nav__input-search:focus {
    border-color: #ff6a00 !important;
    box-shadow: none;
}
.nav__menu--box-shadow {
    box-shadow:1px 2px 1px #c8cbcf;
}
.nav__categories--padding {
    padding: 10px;
}
.nav__button h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
}
.nav__button:hover {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
header.main-header--height{
    height: 10vh;
}

a.nav-link {
    font-size: 15px !important;
}
