#profile li .active {
    border: none;
    background-color: white;
    color: #ff6a00;
}

#profile .nav-link {
    border: none;
}

#profile .item-card-header-pr {
    border-bottom: 1px solid #ccc !important;
    margin-top: 20px;
    padding: 5px;
    height: 50px;
    background-color: white;
}

#profile .item-card-pr {
    border-bottom: 1px solid #ccc !important;
    margin-top: 20px;
    padding: 5px;
    height: 100px;
    background: #fff;
}

#profile .item-card-pr p, .item-card-header-pr p {
    margin: 0;
    width: 100%;
    text-align: center;
}
